[Unit]
Description=Lunuc Api

[Service]
Environment="PATH=/root/.nvm/versions/node/v13.5.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
Environment="LUNUC_MONGO_URL=mongodb://localhost:27017/lunuc"
Environment="LUNUC_ALPHA_VANTAGE_API_KEY=xxxxx"
Environment="AWS_KEY=xxxxx"
Environment="AWS_SECRET=xxxx"
Environment="GOOGLE_API_KEY=xxxx"
Environment="LUNUC_UPLOAD_DIR=/../../srv/uploads"
Environment="LUNUC_SECRET_KEY=xxxx"
WorkingDirectory=/opt/lunuc/
ExecStart=/opt/lunuc/shell/start-api.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
