{
  "presets": [
    ["@babel/preset-env", {"loose": true}],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "client": "./client",
          "util": "./util",
          "server": "./server",
          "api": "./api",
          "ui": "./gensrc/ui",
          "gen": "./gensrc",
          "gensrc": "./gensrc"
        }
      }
    ]
  ],
  "env": {
    "api": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "dynamic-import-node",
        [
          "css-modules-transform",
          {
            "preprocessCss": "api/render/preprocessor.js",
            "extensions": [
              ".css",
              ".less"
            ]
          }
        ]
      ]
    },
    "client": {
      "plugins": [
      ]
    }
  }
}
