{
  "presets": [
    "env",
    "react",
    "stage-0",
    "babel-polyfill"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./client",
          "expose": "client"
        },
        {
          "src": "./util",
          "expose": "util"
        },
        {
          "src": "./server",
          "expose": "server"
        },
        {
          "src": "./api",
          "expose": "api"
        },
        {
          "src": "./gensrc/ui",
          "expose": "ui"
        },
        {
          "src": "./gensrc",
          "expose": "gen"
        }
      ]
    ]
  ],
  "env": {
    "api": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "preprocessCss": "api/render/preprocessor.js",
            "extensions": [
              ".css",
              ".less"
            ]
          }
        ]
      ]
    }
  }
}
