.CodeMirror{
    height: 100%;
    overflow-y: hidden;
    background-color: #fefefe;
}
.cm-s-default .cm-custom {
    color: #f4c242;
    font-weight: bold;
}

.cm-s-default .cm-custom-comment, .cm-s-default .cm-custom-comment + .cm-string{
    color: #666;
    font-weight: bold;
    font-style: italic;
}
.cm-s-default .cm-custom-link {
    color: mediumblue;
    font-weight: bold;
}
.react-codemirror2-height{
    height: 30rem;
}
.react-codemirror2-in-window{
    height: 100%;
}
