.CodeMirror{
    height: 100%;
    overflow-y: hidden;
    background-color: #fefefe;
}
.cm-s-default .cm-custom {
    color: #f4c242;
    font-weight: bold;
}
.cm-s-default .cm-custom-link {
    color: mediumblue;
    font-weight: bold;
}
