@primary-color: #6394F8;
@secondary-color: #efad3b;
@light-text: #ABB0BE;
@grey-200: #4b4236;
@grey: #777;
@grey-100: #d6d6d6;
@grey-10: #e5e3e3;
@border-radius: 0.1rem;
@input-height: 2.5rem;
@content-padding: 2rem;
@content-max-width: 1500px;
@toolbar-height: 4rem;
@overlay-bg: rgba(0, 0, 0, 0.35);

@mobile: ~"only screen and (max-width:690px)";
@tablet: ~"only screen and (min-width:690px) and (max-width: 995px)";
@desktop: ~"only screen and (min-width:995px)";

.Cms-shop {
  display: block !important;
  /* General */
  font-family: Roboto, sans-serif;
  position: relative;
  padding-top: @toolbar-height;
  /* general font color */

  h1, h2, h3, h4, h5, h6, p {
    color: @grey-200;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  input, select {
    font-size: 1rem;
    border: 1px solid @grey-10;
    padding: 0 1rem;
    height: @input-height;
    border-radius: @border-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select{
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.1rem);
    background-position-y: 0.5rem;
    padding-right: 2rem;
  }
  input[type="radio"] {
    height: auto;
    margin-right: 0.5rem;
  }

  button {
    outline: none;
    text-align: center;
    padding: 0.8rem 1rem;
    border-radius: @border-radius;
    background: @primary-color;
    color: white;
    cursor: pointer;
    border-color: lighten(@primary-color, 3%);

    &:hover {
      background: lighten(@primary-color, 3%);
    }
  }

  .lighter-text {
    color: @light-text;
  }

  .main-color-text {
    color: @primary-color;
  }

  .truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Badge */

  .badge {
    background-color: @primary-color;
    border-radius: 1rem;
    color: white;
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  .add-to-basket {
    font-weight: 900;
    text-transform: uppercase;
    color: @grey;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    border: 2px solid @grey;
    border-radius: 1.4rem;
    padding: 0.8rem 1.4rem;
    background: white;

    &:hover {
      color: @secondary-color;
      border-color: @secondary-color;
      background: white;
    }

  }

  .main {
    padding: @content-padding;
    max-width: @content-max-width;
    margin: 0 auto;
  }

  .home-teaser{
    margin: -@content-padding -@content-padding @content-padding -@content-padding;
    width: calc(100% + 2*@content-padding);
  }

  /* menu menu */

  .menu-container {
    input {
      display: none;

      &:checked ~ div.menu {
        right: -50px; // Accounts for transition bounce
      }

      &:checked ~ label.menu-closer {
        opacity: 1;
        visibility: visible;
      }
    }

    input:checked ~ label.menu-opener {
      .menu-icon {
        background: rgba(255, 255, 255, 0);

        &:before {
          margin-top: 0px;
          transform: rotate(405deg);
        }

        &:after {
          margin-top: 0px;
          transform: rotate(-405deg);
        }
      }
    }

    .menu-opener {
      display: flex;
      height: 24px;
      width: 30px;
      margin-right: 10px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menu-icon,
    .menu-icon:before,
    .menu-icon:after {
      display: block;
      background-color: #000;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menu-icon {
      &:before {
        content: '';
        margin-top: -8px;
      }

      &:after {
        content: '';
        margin-top: 8px;
      }
    }

    // *** Click-Off Menu Close *** //
    .menu-closer {
      position: fixed;
      top: 0;
      left: 0;
      background: @overlay-bg;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
      z-index: 4;
    }

    // *** Slide Menu *** //
    .menu {
      height: 100%;
      width: 350px; // +50px for transition bounce and to hide scrollbar
      position: fixed;
      right: -370px; // +20px to hide shadow off screen
      top: 0;
      background: @primary-color;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      z-index: 5;

      .menu-inner {
        width: 100%;
        height: 100%;
        display: flex;
        background: @primary-color;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
          border-radius: 50%;
          top: 15%;
          width: 10%;
          height: 70%;
        }
      }

      nav {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        h3, a {
          text-align: left;
          padding: 20px calc(20px + 30px) 20px 20px; // Calc to account for expand/collapse of menu
          margin: 0;
          font-weight: 300;
          color: #FFF;
        }

        h3 {
          background: @secondary-color;
        }

        a {
          transition: background-color 0.3s ease;
          border-bottom: 1px solid @secondary-color;
          transition: 0.3s ease;
          cursor: pointer;
          display: block;
          text-decoration: none;

          &.active, &:hover {
            background: @secondary-color;
          }
        }
      }
    }
  }

  .header {
    padding: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 @content-padding;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    height: @toolbar-height;
    background-color: white;
    transition: padding 0.2s linear, box-shadow 0.25s linear;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: @primary-color;
      }
    }

    .mobile-fav {
      display: none;
    }

    &.scroll {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      padding-top: 0;
    }

    @media @tablet, @desktop {
      padding-top: 1.5rem;
    }

    @media @mobile {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      .menu-container {
        position: absolute;
        left: @content-padding;
        top: 1.2rem;
      }

      .mobile-fav {
        cursor: pointer;

        &.active {
          background: @secondary-color;
        }

        margin-right: -@content-padding;
        color: black;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.5rem;
        display: block;
        text-align: center;

        &:focus, &:hover {
          color: black;
        }
      }
    }

    .title {
      color: white;
      flex: 1;

      a {
        font-weight: bold;
      }

      @media @mobile {
        margin-left: 3rem;
        text-align: center;
      }
    }

    .mobile-wrap {
      flex: 3;
      display: flex;
      align-items: center;

      @media @mobile {
        width: 0;
        overflow-x: hidden;
        position: absolute;
        transition: width 0.3s linear;
        left: 0.5rem;
        z-index: 2;
        background: white;
        &.show-mobile {
          width: calc(100% - 4.5rem);
          overflow-x: visible;
        }
      }

    }

    .languages {
      display: flex;
      margin-left: auto;
      font-size: 0.7rem;

      a {
        cursor: pointer;
        padding: 1rem 0.3rem;

        &.active {
          font-weight: bold;
        }
      }
    }

    .toolbar-button {
      display: flex;
      margin-left: 1rem;
      .minibasket-opener, .account-opener {
        min-width: 3rem;
        height: 4rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: @primary-color;

          svg {
            fill: @primary-color;
          }
        }

        > svg {
          flex: auto;
          fill: black;
          width: 1.2rem;
          height: 1.2rem;
        }
      }

      .link-text {
        flex: auto;
        margin-left: 0.2rem;
      }

      .minibasket-closer,
      .account-closer {
        overscroll-behavior: contain;
        position: fixed;
        top: 0;
        left: 0;
        background: @overlay-bg;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 4;
      }

      > input {
        display: none;

        &:checked ~ div.minibasket,
        &:checked ~ div.accountmenu {
          visibility: visible;
          opacity: 1;
        }

        &:checked ~ label.minibasket-closer,
        &:checked ~ label.account-closer {
          opacity: 1;
          visibility: visible;
        }
      }

      .badge {
        position: absolute;
        bottom: 0.7rem;
        left: -0.4rem;
      }

      @media @mobile, @tablet {
        margin-left: 0;
        .link-text {
          display: none;
        }

        .badge {
          left: 0.5rem;
        }
      }

    }
  }

  .footer{
    background: white;
    .footer-inner {
      padding: @content-padding;
      margin: 0 auto;
      width: @content-max-width;
      max-width: 100%;
    }
  }

  .shopping-cart-items {
    overflow-y: scroll;
    overscroll-behavior: contain;
    list-style: none;
    padding-left: 0;

    li {
      display: flex;

      padding-bottom: 1rem;
      border-bottom: solid 1px @grey-10;
      margin-bottom: 1rem;
    }

    .item-image {
      flex: 0 0 6rem;
      margin-right: 0.5rem;
      text-align: center;
      line-height: 4rem;

      img {
        vertical-align: middle;
        max-width: 6rem;
        max-height: 6rem;
      }
    }

    .item-details {
      flex: auto;
      display: flex;
      flex-flow: wrap;
      align-items: center;
    }

    .item-name {
      display: block;
      flex: 100%;
      margin-bottom: auto;
      padding-bottom: 0.5rem;
    }

    .item-quantity {
      flex-grow: 1;
      color: @light-text;

      input {
        max-width: 5rem;
        text-align: right;
      }
    }

    .item-price {
      flex-grow: 2;
      text-align: right;
      color: @primary-color;
      margin-right: 0.6rem;
      margin-left: 0.6rem;
    }

    .item-total-price {
      flex-grow: 2;
      text-align: right;
      color: @primary-color;
      margin-right: 0.6rem;
      margin-left: 0.6rem;
    }

    .item-remove {
      flex-grow: 1;
      text-align: right;
      padding-right: 1rem;

      svg {
        cursor: pointer;
        fill: @grey;
        width: 2rem;
      }
    }
  }

  .basket {

    .shopping-cart-items {

      li {
        .item-image {
          flex: 0 0 10rem;
        }
      }
    }

    .shopping-cart-total {
      display: flex;
      justify-content: flex-end;
      margin-right: 0.6rem;
      font-weight: bold;

      .price-column {
        width: 10rem;
        text-align: right;
      }
    }
  }


  .toolbarmenu {
    overscroll-behavior: contain;
    background: white;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - @toolbar-height - 2.7rem);
    position: fixed;
    right: 1rem;
    top: calc(@toolbar-height + 1.7rem);
    border-radius: 3px;
    padding: 2rem;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
    display: flex;
    flex-direction: column;


    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      box-sizing: border-box;
      border: 0.5rem solid black;
      border-color: transparent transparent white white;
      transform-origin: 0 0;
      transform: rotate(135deg);
      box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.16);
    }

  }


  .accountmenu {
    width: 20rem;


    @media @desktop {
      &:after {
        right: 8.7rem;
      }
    }
    @media @mobile, @tablet {
      &:after {
        right: 3.7rem;
      }
    }
    a {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      &:not(:last-child) {
        border-bottom: 1px solid @grey-10;
      }
      svg{
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 1rem;
      }
      &:hover{
        svg{
          fill: @primary-color;
        }
      }
    }
  }

  .minibasket {

    width: 30rem;
    &:after {
      right: 1.7rem;
    }

    .shopping-cart-header {
      border-bottom: 1px solid @grey-10;
      padding-bottom: 15px;

      .shopping-cart-total {
        text-align: right;
        font-weight: bold;

        .main-color-text {
          padding-left: 0.5rem;
        }
      }
    }

    .shopping-cart-footer {
      button {
        width: 100%;
      }
    }

  }

  .navigation {
    &:after {
      display: block;
      content: '';
      border-top: 1px solid @grey-10;
      left: 0;
      width: 100%;
      position: absolute;
    }

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    background: #fff;
    height: calc(5rem - 1px);
    overflow-y: hidden;
    padding: 2rem @content-padding 0 @content-padding;
    display: flex;

    @media @mobile {
      display: none;
    }

    nav {
      flex: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;

      a {
        flex: auto;
      }
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      line-height: 1rem;
      flex: 0;
      text-align: center;
      padding: 1rem;
      display: block;
      transition: background-color 0.3s ease;
      color: #000;
      cursor: pointer;

      &:hover, &.active {
        color: #fff;
        background-color: @secondary-color;
      }
    }

    a.more {
      min-width: 10rem;
    }
  }

  .search {
    margin: auto;
    position: relative;
    flex: auto;
    max-width: 40rem;

    input {
      width: calc(100% - @input-height);
      border: 1px solid @grey-10;
      outline: none;
    }

    button {
      &:after {
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
        border: solid 1px white;
      }

      svg {
        fill: @grey;
      }

      padding: 0.6rem;
      position: absolute;
      right: 4px;
      width: @input-height;
      height: @input-height;
      background-color: white;
      border: 1px solid @grey-10;
      text-align: center;
      color: @grey;
      border-radius: @border-radius;
      cursor: pointer;
      font-size: 1.3rem;
    }
  }

  .main-title {
    margin: 0;
    @media @mobile {
      font-size: 6vw;
    }
  }

  .breadcrumb {
    font-size: 0.85rem;
    padding: 0 @content-padding;
    width: @content-max-width;
    max-width: 100%;
    margin: 2rem auto 0 auto;
    list-style: none;

    a[href] {
      color: @primary-color;
      text-decoration: none;

      &:hover {
        color: @secondary-color;
      }
    }

    a:not([href]) {
      color: @grey;
    }

    a + a {
      &:before {
        color: black;
        content: "/\00a0";
        padding: 8px;
      }
    }
  }



  .product {


    .product-image-wrap {
      min-height: 12em;
    }

    .product-image {
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

  }

  .productlist {

    .productlist-header{
      margin-bottom: 2.5rem;
      display: flex;
      @media @mobile {
        flex-direction: column;
      }
    }

    .product {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01);
      transition: box-shadow 0.3s;
      border-radius: @border-radius;
      background-color: #fff;
      padding: 1em;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
      }

      .description {
        overflow: hidden;
        position: relative;
        line-height: 1.2em;
        max-height: 8em;
      }

      .description:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 3em;
        bottom: 0;
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0.1));
      }

      .product-link{
        text-decoration: none;
      }
    }

    .order{
      @media @mobile {
        margin-top: 1rem;
        width:100%;
      }
    }
  }


  .login-box {
    margin: auto;
    width: 30rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    padding: @content-padding;
    border-radius: @border-radius;

    &.login-box-loading {
      button {
        background-color: lighten(@primary-color, 10%);
        color: #666666;
        pointer-events: none;
      }
    }

    h1 {
      margin-top: 0;
    }

    input, button:not(:last-child) {
      width: 100%;
      margin-bottom: 1rem;
    }

    .error {
      color: red;
      margin-bottom: 1.5rem;
    }
  }

  /* Absolute Center Spinner */

  .overlayLoader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* Transparent Overlay */

    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @overlay-bg;
    }

    /* :not(:required) hides these rules from IE9 and below */

    &:not(:required) {
      background-color: transparent;
      border: 0;
      visibility: hidden;
      animation: 0s linear 0.45s forwards delayedShow;
    }

    &:not(:required):after {
      content: '';
      display: block;
      font-size: 0.7rem; /* size of loader */
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      animation: spinner 1500ms infinite linear;
      border-radius: 0.5em;
      box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }
  }

  #scrolltop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms;

    &.show{
      opacity: 0.8;
    }

    a {
      width: 3rem;
      height: 3rem;
      svg {
        display: block;
        border-radius: 50%;
        path {
          transition: all 0.1s;
        }
      }

      #scrolltop-arrow {
        transform: scale(0.66);
        transform-origin: center;
      }
    }

    #scrolltop-bg {
      fill: @secondary-color;
    }

    #scrolltop-arrow {
      fill: white;
    }

    a:hover {
      #scrolltop-bg {
        fill: lighten(@secondary-color, 3%);
      }

      #scrolltop-arrow {
        fill: white;
      }
    }
  }

  @supports (-moz-appearance: meterbar) {
    #scrolltop {
      clip: rect(0, 3rem, auto, 0);
    }
  }

  @media print {
    #scrolltop {
      display: none !important;
    }
  }

  /* snackbar */

  .snackbar {
    position: fixed;
    left: 0;
    right: 0;
    visibility: hidden;
    margin: 0 auto;
    max-width: 30rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: @border-radius;
    padding: @content-padding / 2;
    z-index: 5;
    bottom: 2rem;
    font-size: 1rem;

    &.show {
      visibility: visible;
      animation: fadein 0.5s, fadeout 0.5s 2.5s forwards;
    }
  }

  /* Animations */

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes delayedShow {
    to {
      visibility: visible;
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
